/* barlow-600 - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/barlow-v12-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/barlow-v12-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* fraunces-700 - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/fraunces-v23-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/fraunces-v23-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-900 - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/fraunces-v23-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/fraunces-v23-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

img {
    display: block;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Barlow", "Arial", sans-serif;
    overflow-x: hidden;
    font-weight: 600;
    overflow-x: hidden;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    /* overflow: hidden; */
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1390px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}

/* STICKY-FOOTER */
.site-main {
    flex-grow: 1;
}


/* header css */

.site-header {
    position: relative;
    background-color: #49BCF1;
}

.site-header__inner {
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 20px;
}

.site-header__btn {
    border: transparent;
    background-color: transparent;
}




.sitenav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 47px;
}



.sitenav__item:not(:last-child) {
    margin-right: 47px;
}

.sitenav__link {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #FFFFFF;
    text-decoration: none;
}

.sitenav__contact-link {
    padding: 16px 30px 15px 32px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    color: #24303E;
    background-color: #FFFFFF;
    border-radius: 28px;
    text-decoration: none;
}

.site-header__nav {
    display: none;
}

.sitenav-on .sitenav {
    position: absolute;
    padding: 35px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    height: 305px;
    top: 120%;
    left: 0;
    right: 0;
    display: block;
    z-index: 12;
    background-color: #FFFCF8;
}

.sitenav-on .sitenav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

.sitenav-on .sitenav__item {
    margin-right: 0;
    margin-bottom: 32px;
    z-index: 1;
}

.sitenav-on .sitenav__decor {
    position: absolute;
    top: -20px;
    right: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
}

.sitenav-on .sitenav__link {
    line-height: 25px;
    letter-spacing: -0.142857px;
    color: #808397;
}

.sitenav-on .sitenav__contact-link {
    background-color: #FBD600;
    z-index: 1;
    justify-content: center;
}



/* hero secion css  */

.hero {
    padding-top: 88px;
    padding-bottom: 296px;
    background-image: url("../images/desktopbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__content {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.hero__topic {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}

.hero__topic::after {
    content: "";
    background-image: url("../images/icon-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 34px;
    height: 114px;
    position: absolute;
    bottom: -147px;
    left: 128px;
}


/* list section   */

.list {
    padding-bottom: 160px;
}

.wrap {
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
}

.list__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__item {
    display: flex;
}



.list__content-box {
    padding: 64px 24px;

}



.list__img {
    width: 100%;
}

.list__img-desktop {
    display: none;
}

.list__item-title {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.228571px;
    color: #24303E;
}

.list__item-text {
    margin: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #808397;
}

.list__item-more {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    z-index: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: #24303E;
    text-decoration: none;
    position: relative;
    background-image: url("../images/bgyellow.svg");
    background-repeat: no-repeat;
    background-position: center 11px;
}

.list__item-more--cup {
    background-image: url("../images/bgred.svg");

}

.list__cherry {
    padding: 398px 34px 59px 34px;
    background-image: url("../images/cherry.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50% + -4px);
}


.list__cherry-title {
    margin: 0;
    margin-bottom: 27px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #24554A;
}

.list__cherry-text {
    margin: 0;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.114286px;
    color: #24554A;
}

.list__cherry--active {
    padding: 398px 34px 59px 34px;
    background-image: url("../images/fruit.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50% + -4px);
}

.list__cherry-title--active {
    color: #052C3B;
}

.list__cherry-text--active {
    color: #19536C;
}



/* client sectioin css  */

.client {
    padding-bottom: 86px;
}

.client__topic {
    margin: 0;
    margin-bottom: 64px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 4px;
    color: #A7AAAD;
}


.client__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.client__item {
    width: 100%;
    /* max-width: 300px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client__item:not(:last-child) {
    margin-bottom: 64px;
}

.client__img {
    margin-bottom: 32px;
}


.client__quote {
    margin: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #5B636D;
}

.client__name {
    margin: 0;
    margin-bottom: 9px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #24303E;
}

.client__desc {
    margin: 0;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #A7AAAD;
}



/* grid section css  */

.wraper {
    max-width: 1600px;
    margin: 0 auto;
}

.grid__content {
    width: 100%;
    /* max-width: 300px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

.grid__img {
    width: 100%;
}


/* footer css  */

.site-footer {
    background-color: #90D4C6;
}


.site-footer__box {
    padding: 64px 39px 80px 39px;
}


.site-footer__logo-link {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}


.site-footer__list {
    display: flex;
    width: 100%;
    max-width: 225px;
    margin: 0;
    margin: 0 auto;
    margin-bottom: 88px;
    padding: 0;
    list-style: none;

}

.site-footer__item:not(:last-child) {
    margin-right: 20px;
}

.site-footer__link {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
    text-decoration: none;
}


.site-footer__social-list {
    display: flex;
    width: 100%;
    max-width: 164px;
    margin: 0;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}


.site-footer__social-item:not(:last-child) {
    margin-right: 28px;
}

.site-footer__social-link {
    color: #2C7566;
}












/* ===== media tablet =====  */

@media only screen and (min-width:700px) {

    .site-header__btn {
        display: none;
    }



    .site-header__inner {}


    .site-header__nav {
        display: flex;
    }




    .hero {
        padding-top: 105px;
        padding-bottom: 536px;
        background-image: url("../images/desktopbg.png");
        background-position: center;
    }

    .hero__content {
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
    }

    .hero__topic {
        font-size: 50px;
        line-height: 69px;
    }


    .hero__topic::after {
        bottom: -231px;
        left: 327px;
    }





    .list__content {
        display: flex;
        width: 100%;
        max-width: 1300px;
    }


    .list__img {
        display: none;
    }

    .list__img-desktop {
        display: block;
        width: 100%;
        height: 600px;
    }

    .list__item-content {
        width: 100%;
        max-width: 665px;
    }

    .list__content {
        width: 100%;
    }

    .list__item-img {
        width: 50%;
    }

    .list__content-box {
        width: 50%;
        padding-top: 120px;
        padding-right: 7px;
        padding-left: 20px;
        padding-bottom: 120px;
    }



    .list__content--row {
        flex-direction: row-reverse;
    }

    .list__item-title {
        text-align: left;
    }

    .list__item-text {
        text-align: left;
    }

    .list__item-more {
        padding-left: 10px;
        justify-content: flex-start;
        background-position: left 13px;
    }

    .list__cherry {
        width: 50%;
    }



    .client__list {
        display: flex;
        align-items: flex-start;
    }

    .client__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 30px;
    }


    .grid__content {

        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
}



/* ===== media desktop ====  */

@media only screen and (min-width:1000px) {


    .hero__topic {
        font-size: 56px;
        line-height: 69px;
    }


    .list__item-content {
        width: 100%;

    }

    .list__content-box {
        padding-top: 158px;
        padding-right: 15px;
        padding-bottom: 157px;
        padding-left: 65px;
    }

    .list__content-box--left {
        padding-left: 65px;
    }

    .list__img-desktop {
        width: 100%;
    }


    .list__item-more:hover {

        background-image: url("../images/hoveryellow.svg")
    }

    .list__item-more--cup:hover {
        background-image: url("../images/hoverred.svg")
    }



    .sitenav__contact-link:hover {
        color: #fff;
        opacity: 0.9;
        background-color: #77CDF5;
    }


    .site-footer__list {
        max-width: 300px;
        display: flex;
        justify-content: space-between;
    }


    .site-footer__link:hover {
        color: #FFFFFF;
    }

    .site-footer__social-link:hover {
        color: #FFFFFF;
    }

}